#heading{

    background-color:aqua;
    color:rgb(188, 77, 29);
}
#heading2{

    background-color:aqua;
    color:rgb(12, 220, 130);
}
body{
    background-color: gray;
}
.head{
    background-color:red;
}